.appBar {
  position: fixed;
  z-index: 9999;
  top: 15px;
  left: 15px;
  background-color: var(--navbar-background-color);
  display: flex;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: none; /* Remove default shadow */
  opacity: 0.90;
}
