.textContainerMobile {
  border-radius: 20px;
  width: 100%;
  min-height: 700px;
  width: 100vw; /* Use 100vw for full viewport width */
  display: flex;
  text-align: center;
  flex-direction: column;
  color: var(--text-color);
  padding: 20px 10px 20px 25px;
  box-shadow: -1px 6px 64px 16px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: -1px 6px 64px 16px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: -1px 6px 64px 16px rgba(0, 0, 0, 0.64);
}
.textContainerMobile strong {
  color: var(--contrast-color);
}
.translateButtonDivMobile p {
  color: var( --buttons-text-colo);
}
.textContainerMobile h2 {
  color: var(--main-header-color);
}
.translateIconMobile{
  width: 20px;
  height: 20px;
  background-color: var(--buttons-text-color);
  border-radius: 50%;
  padding:2px
  }
.translateButtonDivMobile{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 100px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add outer shadow */
  color: var(--buttons-text-color);
}
.ScrollDownMouseAnimationMobile{
  height: 100px;
  display: flex;
  justify-content: center;
}
.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
}

.translationLogo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
}
.containerText p {
  color: var(--text-color);
}
.headerOverviewPage {
  font-family: "Inknut Antiqua", serif;
  font-size: xx-large;
  margin: 0;
}

.custom_clamp {
  color: #253439;
}
.custom_clamp button {
  background-color: #253439;
  color: antiquewhite;
  border: 0px solid antiquewhite;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--backgroundColor);
}

.containerText {
  width: 100%;
  overflow: auto;
  flex-grow: 1;
}

.imageRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.logos {
  width: 120px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.overviewInnerHeaderMobile{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.topMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  color:black;

}

@media (max-width: 768px) {
  .textContainer {
    padding: 15px 10px;
  }

  .headerOverviewPage {
    font-size: large;
    color: var(--main-header-color)
  }

  .translationLogo {
    width: 30px;
    height: 30px;
  }

  .logos {
    width: 80px;
  }

  .mainText {
    color: #253439;
    font-size: 20px;
    margin: 0;
  }
}
