.logoDiv{
    padding: 10px;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nameSquareMobile {
  display: flex;
  background-color: var(--secondary-background-color);
  margin: auto;
  height: min-content;
  justify-content: center;
  align-items: flex-end;
}
.topNavbarMobile{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}
.dotDraweeMobile{
  background-color: var(--contrast-color);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  margin-right: 2px;
  margin-left: 2px;
}
.poppins-900 {
  font-family: var(--default-font);
  font-weight: 900;
  font-style: normal;
  font-size: 24px;

}
.headerLetterMobile{
  color: var(--contrast-color);
}

.ListItemMobile{
display: flex;
justify-content: center;
align-items: center;
}

.ListItemMobile p{
  color: white;

}
  .drawerMobile{
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    max-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }

/* Hide scrollbar for modern browsers */
.drawer::-webkit-scrollbar {
    display: none;
  }
  .bringThemHomeNowDiv{
    display: flex;
    color: white;
    position: relative;
    left: 30px;
    justify-content: center;
  }
  .nowHeader{
    color: red;
    border-bottom: 2px solid red;
  }
  .lastScanDiv{
    border-bottom: 1px solid white;
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
  }