body {
  font-family: "Noto Sans Hebrew", sans-serif;
  font-weight:500;
  }

  /* לדוגמה של יישום הגופן למחלקה מסוימת */
  .custom-heading {
    font-family: "Noto Sans Hebrew", sans-serif;
    font-weight: 700; /* השתמש בגרסה מאוכלת של Roboto */
  }