.containerRolePageDesktop {
  padding: 70px 50px 20px 50px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}
.containerRolePageDesktop h1 {
  color: var(--main-header-color);
}
.headerAndTogglerDesktop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerDivDesktop {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.togglerInfoDivDesktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}
.switchMultipleCategoriesDivDesktop{
  display: flex;
  align-items: center;

}
.FormControlLabelDesktop{
  color: var(--text-color);
  font-size: 20px;
  margin-top: 5px;
}
.infoAndLabelAndSwitchDivDesktop{
  display: flex;
  align-items: center;
}
.infoImgDesktop {
width: 20px;
height: 20px;
margin: 0 10px 0 0;
}
.inputDesktop{
  background-color: var(--primary-background-color);
  color: var(--text-color);
  border: 1px solid var(--contrast-color);
}
.headerRolePageDesktop{
  margin: 0;
}
.subheaderRolePageDesktop {
  font-size: 17px;
  margin: 10px 0 5px 0; /* Reset margin */
  color: var(--main-header-color);
}
.switchDivDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 360px; /* Default width */
  max-width: 100%; /* Allow it to shrink if necessary */
  flex-wrap: wrap; /* Wrap items if they exceed container width */
}
.switchRevealDivDesktop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px; /* Default width */
  max-width: 100%; /* Allow it to shrink if necessary */
  flex-wrap: wrap; /* Wrap items if they exceed container width */
}
.togglerDesktop {
  width: 100px;
  height: 34px;
  background:var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  padding: 2px;
  border: 1px solid var(--contrast-color);
}
.toggler_buttonDesktop{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected_toggler_buttonDesktop {
  background-color: var(--contrast-color);
  transition: background-color 0.3s ease-in-out;


}
.percentageButtonDesktop{
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.countButtonDesktop{
  width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

}
.textRolePageDesktop {
  font-size: 17px;
}
.headerRolePageDesktop {
  font-size: 45px;
  color: antiquewhite;
}
.descriptionDivDesktop {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 90%;
}
.loadingDivRolePageDesktop {
  justify-content: center;
  align-items: center;
  flex: 1;
}
.loadingDivInnerDesktop {
  width: fit-content;
}
.loading-textDesktop {
  color: antiquewhite;
}
.loading-textDesktop .dot {
  opacity: 0;
  animation: fade 1.5s infinite;
}
.loading-textDesktop .dot:nth-child(2) {
  animation-delay: 0.5s;
}
.loading-textDesktop .dot:nth-child(3) {
  animation-delay: 1s;
}
@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.loading-textDesktop.animate .dot {
  animation-play-state: running;
}

.loading-textDesktop .dot {
  animation-play-state: paused;
}

.categoriesButtonDivDesktop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  width: 90%;
  margin-bottom: 10px;
  margin: auto;
}

.categoryButtonDesktop {
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: var(--buttons-background-color);
  border: 1px solid var(--buttons-background-color);
  transition: background-color 0.7s;
  transition: border-radius 1s;
  transition: width 3;
}
.categoryButtonDesktop:hover {
  background-color: var(--buttons-background-color);
  color: var(--primary-background-color);
}
.categoryButtonDesktop.selected {
  background-color: var(--buttons-background-color);
  color: var(--primary-background-color);
  border-radius: 20px;
  transition: background-color 0.7s;
  transition: border-radius 1s;
}

.techListDivDesktop {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1; /* Ensure it fills the remaining space */
}
/* Disabled button styling */
.categoryButtonDesktop.disabled,
.categoryButtonDesktop.disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none; /* Ensure the button is truly non-interactive */
  opacity: 0.65; /* Slightly transparent to indicate disabled state */
}
.TechRowWrapperMotionDiv{
  width: 100%;
}
