.tech-row {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin: 0 0 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.techRowCategoryMobile{
  color: var(--contrast-color);
  font-size: 12px;
  margin-left: 10px;
}
.tech-name-container {
  width: 100%; /* Adjust the width as needed */
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 16px;
  padding: 0  10px 0 0;
  flex-wrap: wrap;
  margin: 0 0 1px 0

}
.lineAndNumDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.tech-name {
  white-space: nowrap;
}

.tech-line {
  height: 15px;
  border: 1px solid var(--contrast-color);
  border-radius: 0 10px 10px 0;
}

.tech-count {
  font-size: 20px;
  font-size: 17px;

}
.lineWrapper {
  width: 200px;
}