/* src/pages/MainPage.css */
.main-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .content {
    margin-left: 300px; /* Align with the side menu width */
    width: calc(100% - 300px);
    overflow-y: auto; /* Allow vertical scrolling */
  }

  .section {
    width: 100%;
    display: flex;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
    border-bottom: 1px solid #ffff;
    min-height: 100vh;

  }
