/* src/pages/MainPage.css */
.main-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .content {
    overflow-y: auto; /* Allow vertical scrolling */
    transition: margin 0.3s ease-in-out;
    max-width: 100vw;
  }

  .section {
    width: 100%;
    display: flex;
    box-sizing: border-box; /* Ensure padding and borders are included in the element's total width and height */
    min-height: 100vh;

  }
  .dividerBottom {
    border-bottom: 1px solid #ffff;
  }
  .li{
    font-size: 16px;
  }
  .drawerButton{
    position: absolute;
    top: 2%;
    left: 5%;
    z-index: 2;
    background-color: #ffff;
    padding: 5px;
    border-radius: 15px;


  }
