.mainLogo {
    position: relative;
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    margin-bottom: 20px; /* Add margin below the logo */
    width: 30%;
    border-radius: 8px; /* Add border radius */
    z-index: 1;
  }
  .logoLandingPage {

  }
  .headerLandingPageMobile{
    font-family: 'Inknut Antiqua', serif;
  font-family: "Poppins", sans-serif;

    font-size: 18px;
    text-align: center;
    width: 85%;
  }
  .loadingDiv{
    text-align: center;
    height:'300px';
  }
  .fade-text {
    opacity: 0;
  }

  .fade-text.animate {
    animation: fadeInOut 4s infinite;
  }

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  .main {
    position: relative; /* Add position relative */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerLandingPage {
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
    width: 80%;
    font-size: 20px;
    line-height: 40px;
    margin: 30px 0 0 0;

  }
  .logoHeader {
    font-family: 'Inknut Antiqua', serif;
  font-family: "Poppins", sans-serif;

    text-align: center;
    font-size: 30px;
  }
  .visitors-div {
    position: fixed; /* Change position to fixed */
    top: 0;
    right: 0;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 0 10px; /* Apply border radius only to bottom-left corner */
    z-index: 9999; /* Set a high z-index value to ensure it's above all other content */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add outer shadow */

  }

.scrollDivMobile{
position: relative;
right: 20px;
}
.loadingDivMobile{

}
.mainContainerLandingPageMobile{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 15px 0;
  color: var(--text-color);
}
.textContainerLandingPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actionButtonMobile {
  display: flex;
  align-items: center; /* Align items vertically */
  background-color: var(--buttons-background-color);
  color: var(--buttons-text-color);
  width: 100%;
  padding: 0 15px; /* Add padding for spacing */
  justify-content: space-between;
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
  height:55px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border-radius: 20px;

}
.alottieMobile {
  width: 50px;
  position: relative;
  right: 20px;
  height: 40px;
}