.three-steps {
    text-align: center;
    padding: 40px;
    color: white;
    width: 100%;

  }

  .steps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .step {
    width: fit-content;
    height:50%;

  }

  .step-number {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h3 {
    font-size: 24px;
    margin: 10px 0;
  }

  p {
    font-size: 16px;
  }

  svg {
    margin: 0 20px;
  }
