.mainLogo {
    position: relative;
    display: block;
    margin: 0 auto; /* Center the logo horizontally */
    margin-bottom: 20px; /* Add margin below the logo */
    width: 30%;
    border-radius: 8px; /* Add border radius */
    z-index: 1;
  }

  .loadingDivDesktop{
    text-align: center;
    height:'300px';
    color:'antiquewhite';

  }
  .fade-text-Desktop {
    opacity: 0;
  }

  .fade-text-Desktop.animate {
    animation: fadeInOut 4s infinite;
  }

  @keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
  }
  .main {
    position: relative; /* Add position relative */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerLandingPageDesktop {
    color: antiquewhite;
    font-family: 'Inknut Antiqua', serif;
    font-size: 40px;

  }
  .logoHeaderDesktop {
    color: antiquewhite;
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
  }
  .visitors-div {
    background-color: antiquewhite;
    position: fixed; /* Change position to fixed */
    top: 0;
    right: 0;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 0 0 10px; /* Apply border radius only to bottom-left corner */
    z-index: 9999; /* Set a high z-index value to ensure it's above all other content */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Add outer shadow */

  }
.contentLandingPage{
display: flex;
justify-content: space-evenly;

}
.logoDiv{
display: flex;
flex-direction: column;
flex: 1;
margin:auto
}
.textDiv{
width: 50%;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 60px;
/* border: 2px solid black; */
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Box-shadow on hover */
border-radius: 0 20px 120px 0;


}
.highlighted{
  color: blueviolet;
}

.actionButton {
  display: flex;
  align-items: center; /* Align items vertically */
  background-color: blueviolet;
  width: 300px;
  padding: 0 15px; /* Add padding for spacing */
  border-radius: 10px;
  justify-content: space-between;
  cursor: pointer; /* Add pointer cursor */
  transition: box-shadow 0.3s ease; /* Smooth transition for box-shadow */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Initial box-shadow */
  height:60px;
}

.actionButton:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); /* Box-shadow on hover */

}

.actionButton p {
  margin-left: 10px; /* Add margin between text and animation */
  color: white;
  font-size: 23px;
}

.alottie {
  width: 50px;
  position: relative;
  right: 20px;
  height: 40px;
}
