.containerRolePage {
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.headerAndToggler{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headersDiv {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.valueAdjustButton {
  width: 30px;
  height: 30px;
  background-color: var(--contrast-color);
  color: var(--primary-background-color);
  border-radius: 50%;
  text-align: center;
}
.numberInputMobile {
  color: var(--contrast-color);
  border: 1px solid var(--contrast-color);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.inputDivMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: min-content;

}

.PLusMinusIconMobile {
  width: 18px;
  height: 18px;
  margin: 0 5px;
  padding: 0;
}
.skeletonButton {
width: 40%;
height: 200px;
}
.inline-skeleton {
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}
.formControlLabelMobile{
  font-size: 20px;
  margin-top: 5px;
  color: var(--text-color);
}
.togglerInfoDiv {
  display: flex;
  align-items: center;
  position: relative;
  right: 20px;
  justify-content: center;
  width: fit-content;
  width: 100%;
  margin: 0 0 25px 15px;
}
.switchMultipleCategoriesDiv{
  display: flex;
  align-items: center;
  max-width: 100%;
}
.switchDivMargin {
  margin-bottom: 7px;
}

.switchLeftSideMobile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.IoInformationCircleSharpMobile {
  margin: 0;
  color: var(--text-color);
  position: relative;
  top: 2px;
}

.formControlLabelMobile {
  margin: 0;
  padding: 0;
}

.formGroupMobileSwitch {
  box-sizing: border-box;
  padding: 8px 0 8px 20px;
}

.headerRolePage {
  font-size: 24px;
  color: var(--main-header-color);
}
.subheaderRolePage {
  color: var(--main-header-color);
  font-size: 15px;
  margin: 10px 0 5px 0; /* Reset margin */
}
.switchDiv {
  width:100%; /* Default width */
  justify-content: space-between; /* Space between items */
  flex-wrap: wrap; /* Wrap items if they exceed container width */
  display: flex;
  align-items: center;
}
.inputMobile {
  background-color: var(--primary-background-color);
  color: var(--text-color);
  border: 1px solid var(--contrast-color);
  border-radius: 10px;
}
.toggler {
  width: 100px;
  height: 34px;
  background:var(--secondary-background-color);
  border-radius: 10px;
  display: flex;
  padding: 2px;
  box-shadow: -1px 5px 10px 0px rgba(0,0,0,0.64);
  border: 1px solid var(--contrast-color) ;
}
.toggler_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected_toggler_button {
  background:var(--contrast-color);

  transition: background-color 0.3s ease-in-out;


}
.percentageButton{
  width: 50%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}
.countButton{
  width: 50%;
  height: 100%;
  border-radius: 0 10px 10px 0;
  cursor: pointer;

}
.textRolePage {
  color: var(--text-color);
  font-size: 17px;
}


.descriptionDiv {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 90%;
}
.loadingDivRolePage {
  justify-content: center;
  align-items: center;
  flex: 1;
}
.loadingDivInner {
  width: fit-content;
}

.loading-text {
  color: var(--text-color);
}

.loading-text .dot {
  opacity: 0;
  animation: fade 1.5s infinite;
}

.loading-text .dot:nth-child(2) {
  animation-delay: 0.5s;
}

.loading-text .dot:nth-child(3) {
  animation-delay: 1s;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.loading-text.animate .dot {
  animation-play-state: running;
}

.loading-text .dot {
  animation-play-state: paused;
}

.categoriesButtonDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 10px;
  margin: auto;
}

.categoryButtonMobile {
  padding:10px;
  text-align: center;
  margin: 5px;
  font-size: 14px;
  flex: 1 1 auto; /* Allows the items to grow and shrink */
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  color: var(--contrast-color);
  border: 1px solid var(--contrast-color);
  transition: background-color 0.7s;
  transition: border-radius 1s;
  transition: width 3;
  box-sizing: border-box;
}

.categoryButtonMobile.selected {
  background-color: var(--contrast-color);
  color: var( --primary-background-color);
  border-radius: 10px;
  transition: background-color 0.7s;
  transition: border-radius 1s;
}

.techListDiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.disabled {
  background-color: gray;
  color: var(--secondary-background-colorr);
}
.RevealCategoryButtonMobile{
  height: '20px';
  padding: 0;

}
