/* src/components/SideMenu.css or AboutMePage.css */
.wrapperDesktop {
  display: inline-block; /* Ensure the container takes the size of the image */
}
.aboutMeContainerDesktop {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 10px 50px;
    justify-content: space-between;
  }


  .firstRowDesktop {
    margin-top: 10px;
    display: flex;
    width: 100%; /* Ensure the row takes full width */
    flex: 1;
  }
  .headerAndTransalteDesktop {
    display: flex;
    align-items: center;
  }

  .aboutMeDivDesktop {
    width: 55%;
  }

  .headerDesktop {
    color: antiquewhite;
    font-size: 35px;
  }

  .aboutMeTextDesktop {
    color: antiquewhite;
    font-size: 20px;
  }

  .imageDivDesktop {
    width: 45%; /* Adjust based on the layout */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePicDesktop {
    border-radius: 50px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 4, 4, 0.25); /* Add outer shadow */
    max-width: 100%; /* Ensure the image does not overflow */
    height: 300px; /* Maintain aspect ratio */
    border: 2px solid white;
  }
  .thirdRowDesktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aTagDesktop {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-right: 5px;
  }
  .iconDivDesktop {
    width: 20%;
    display: flex;
  }
  .iconsAndLinksDivDesktop {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-around;
  }
  .iconDesktop {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-right: 8px;
  }

  .iconTextDesktop {
    color: antiquewhite;
    font-size: 16px;
  }
  .clickableImageDesktop {
    width: 30px;
  }
  .subHeaderDesktop {
    color: antiquewhite;
    font-size: 20px;
  }
