/* src/components/SideMenu.css or AboutMePage.css */
.wrapper {
  display: inline-block; /* Ensure the container takes the size of the image */
}
.aboutMeContainer {
    display: flex;
    flex-direction: column;
    padding: 50px 50px 10px 50px;
    justify-content: space-between;
  }


  .firstRow {
    margin-top: 10px;
    display: flex;
    width: 100%; /* Ensure the row takes full width */
    flex: 1;
  }
  .headerAndTransalte {
    display: flex;
    align-items: center;
  }

  .aboutMeDiv {
    width: 55%;
  }

  .header {
    color: antiquewhite;
    font-size: 35px;
  }

  .aboutMeText {
    color: antiquewhite;
    font-size: 20px;
  }

  .imageDiv {
    width: 45%; /* Adjust based on the layout */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profilePic {
    border-radius: 50px; /* Add border radius */
    box-shadow: 0 2px 4px rgba(0, 4, 4, 0.25); /* Add outer shadow */
    max-width: 100%; /* Ensure the image does not overflow */
    height: 300px; /* Maintain aspect ratio */
    border: 2px solid white;
  }
  .thirdRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .aTag {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-right: 5px;
  }
  .iconDiv {
    width: 20%;
    display: flex;
  }
  .iconsAndLinksDiv {
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-around;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-self: center;
    position: relative;
    margin-right: 8px;
  }

  .iconText {
    color: antiquewhite;
    font-size: 16px;
  }
  .clickableImage {
    width: 30px;
  }
  .subHeader {
    color: antiquewhite;
    font-size: 20px;
  }
